option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 20.x
    NodeCommand: "npm start"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 5001
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/channels/status
    Port: 5001
    Protocol: HTTP
